@model IEnumerable<UserPoemModel>
@{
    ViewData["Title"] = "Отправленные";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoemText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var i in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => i.PoemText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.CompetitionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.AuthorName)
            </td>
        </tr>
}
    </tbody>
</table>
@*<a asp-action="Add">Добавить</a>*@