@model Participant
@{
    ViewData["Title"] = $"Заявка на конкурс \"{Model.Competition.Titile}\"";
}

<div class="container">
    <div class="review">
        <h2>@Model.Competition.Titile</h2>
        <p>
            Статус:
            @(Model.Status switch
             {
                 ParticipantStatus.Updated => "Ожидает повторно рассмотрения",
                 ParticipantStatus.Rejected => "Отклонена",
                 ParticipantStatus.New => "Не рассмотрена",
                 ParticipantStatus.Approved => "Одобрена"
             })
        </p>
        @*Тут должна быть проверка того, является ли текущий пользователь жюри.*@
        @if (true)
        {
            <div>
                <a asp-action="Assessment" asp-controller="Jury" asp-route-guid="@Model.Guid">Оценить</a>
            </div>
        }
        @foreach (var poem in Model.Poems)
        {
            <div class="application">
                <h3>@poem.Title</h3>
                <p>@poem.Text</p>
            </div>
        }
    </div>











    @*<div class="border rounded bg-light">
        Заявка на участие в конкурсе <b>@Model.Competition.Titile</b>
    </div>
    <span class="badge badge-info">
        @(Model.Status switch
        {
            ParticipantStatus.Updated => "Ожидает повторно рассмотрения",
            ParticipantStatus.Rejected => "Отклонена",
            ParticipantStatus.New => "Не рассмотрена",
            ParticipantStatus.Approved => "Одобрена"
        })
    </span>*@
