@model ProfileModel
@{
    ViewData["Title"] = $"{Model.Name ?? Model.Login}";
}

<div class="profile profile_display_grid container">
    <div class="profile__leftSide">
        <div class="avatar avatar_theme_dark">
            <img class="avatar__img avatar__img_width_max" src="~/img/Profile/unnamed.png">
        </div>
        <div class="profileItem profileItem_margin_xs socialIcons">
            <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_orange" src="~/img/Social icons/Orange/vk.svg" /></a>
            <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_orange" src="~/img/Social icons/Orange/yandex.svg" /></a>
            <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_orange" src="~/img/Social icons/Orange/google.svg" /></a>
            <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_orange" src="~/img/Social icons/Orange/facebook.svg" /></a>
            <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_orange" src="~/img/Social icons/Orange/twitter.svg" /></a>
            <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_orange" src="~/img/Social icons/Orange/vk.svg" /></a>
        </div>
        <div class="profile__item profileItem profileItem_theme_light profileItem_padding_s profileItem_margin_xs">
            <h3 class="profileItem__header profileItem__header_font_sans-serif">Рейтинг</h3>
            <div class="rowItems rowItems_justify_bySides">
                <span class="rowItems__item">Автор:</span>
                <span class="rowItems__item">Значение</span>
            </div>
        </div>
        <div class="profile__item profileItem profileItem_theme_light profileItem_padding_s profileItem_margin_xs">
            <div class="rowItems rowItems_justify_bySides">
                <h3 class="profileItem__header profileItem__header_font_sans-serif">Баланс:</h3>
                <span>Значение</span>
            </div>
            <div class="btn btn_border_black profileItem_margin_xs">
                Пополнить
            </div>
            <div class="btn btn_color_orange profileItem_margin_xs">
                Вывести
            </div>
        </div>
    </div>
    <div class="profile__rightSide">
        <div class="profile__item profileItem profileItem_padding_xs profileItem_theme_light">
            <div class="profileItem__kind">
                Сетератор
            </div>
            <div class="profileItem__name">
                semen1032
            </div>
            <div class="profileItem__header profileItem__header_font_serif profileItem_margin_xs">
                О себе
            </div>
            <div class="profileItem__about">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>

        <div class="profile__item profileItem profileItem_padding_xs profileItem_theme_light profileItem_margin_xs">
            <h3 class="profileItem__header profileItem__header_font_serif">Личные данные</h3>
            <div class="accountInfo">
                <div class="rowItems rowItems_location_twoRows">
                    <span>Имя фамилия</span>
                    <span>Не указано</span>
                </div>
                <div class="rowItems rowItems_location_twoRows">
                    <span>Телефон</span>
                    <span>Не указано</span>
                </div>
                <div class="rowItems rowItems_location_twoRows">
                    <span>e-mail</span>
                    <span>Не указано</span>
                </div>
                <div class="rowItems rowItems_location_twoRows">
                    <span>Страна</span>
                    <span>Не указано</span>
                </div>
                <div class="rowItems rowItems_location_twoRows">
                    <span>Город</span>
                    <span>Не указано</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="profile_grid container"> 

    <div class="profile-poems">
        <h2>Заявки на участие в конкурсах</h2>
        <table>
            <thead>
                <tr>
                    <th>День</th>
                    <th>Название конкурса</th>
                    <th>Название произведения</th>
                    <th>Статус заявки</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var competition in Model.ActiveParticipants)
                {
                    foreach (var poem in competition.Poems)
                    {
                        <tr>
                            <td>
                                @poem.Title
                            </td>
                            <td>
                                @competition.Status
                            </td>
                            <td>
                                @competition.Competition.Title
                            </td>
                            <td>
                                @competition.CreateDate.ToString("dd.MM.yyyy")
                            </td>
                            <td>
                                <a asp-action="Details"
                                   asp-controller="Poem"
                                   asp-route-guid="@poem.Guid.ToString()">
                                    Перейти
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <h2>Портфолио</h2>
        @foreach (var competition in Model.PastParticipants)
        {
            foreach (var poem in competition.Poems)
            {
                        <div class="profile-poem">
                            <div class="profile-poem__avatar">
                            </div>
                            <a asp-action="Details"
                               asp-controller="Poem"
                               asp-route-guid="@competition.Guid.ToString()">
                                <div class="profile-poem__title">
                                    @poem.Title
                                </div>
                                <div class="profile-poem__competition-title">
                                    <span>Конкурс: </span>
                                    <span>@competition.Competition.Title</span>
                                </div>
                            </a>
                            <div class="profile-poem__social-icons">
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/vk.svg" /></a>
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/yandex.svg" /></a>
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/google.svg" /></a>
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/facebook.svg" /></a>
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/twitter.svg" /></a>
                            </div>
                        </div>
                    }
                    }
            </div>

</div>
<script src="~/dist/Profile.js"></script>
