@model Participant
@{
    ViewData["Title"] = "Модерация";
}

<div class="container">
    <div class="review">
        <div class="application">
            @foreach (var i in Model.Poems)
            {
                <h3>@i.Title</h3>
                <p>@i.Text</p>
            }
        </div>
        <div class="application-buttons">
            <div class="reject-block">
                <a class="reject" asp-action="Reject"
                    asp-route-guid="@Model.Guid">
                    <img src="~/img/Group 89.png" />
                </a>
                <a class="b-text" asp-action="Reject"
                    asp-route-guid="@Model.Guid">
                    Отклонить
                </a>
            </div>
            <div class="accept-block">
                <a class="b-text" asp-action="Accept"
                    asp-route-guid="@Model.Guid">
                    Одобрить
                </a>
                <a asp-action="Accept"
                    asp-route-guid="@Model.Guid">
                    <img src="~/img/Group 83.png" />
                </a>
            </div>
        </div>
</div>