@model ProfileModel
@{
    ViewData["Title"] = $"{Model.Name ?? Model.Login}";
}

<div class="container">
    <div class="profile-grid">
        <div class="user-image">
            <img src="~/img/Image 3.png" alt="Изображение профиля" />
        </div>
        <div class="user-name">
            <h4>@(Model.Name ?? Model.Login)</h4>
            <p>@(Model.Status ?? "Статус не установлен")</p>
            @if (Model.Verificated)
            {
                <p>Аккаунт подтверждён</p>
            }
            else
            {
                <p>Аккаунт не верифицирован</p>
            }
        </div>
        <div class="user-bank">
            <h4>Счёт</h4>
        </div>
        <div class="user-rating">
            <h4>Рейтинг</h4>
            <p>@Model.Rating</p>
        </div>
        <div class="user-counter">
            <h4>Участий: @Model.ParticipantCount</h4>
            <h4>Побед: @Model.WinCount</h4>
        </div>
        <div class="user-about">
            <h4>Об авторе</h4>
            <p>@(Model.About ?? "Информация о себе не указана")</p>
        </div>
    </div>

    <div class="user-requests">

        <h2>Активное</h2>
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Статус</th>
                    <th>Название конкурса</th>
                    <th>Дата подачи</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var competition in Model.ActiveParticipants)
                {
                    foreach (var poem in competition.Poems)
                    {
                <tr>
                    <td>
                        @poem.Title
                    </td>   
                    <td>
                        @competition.Status
                    </td>
                    <td>
                        @competition.Competition.Titile
                    </td>
                    <td>
                        @competition.CreateDate.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        <a asp-action="Details"
                           asp-controller="Poem"
                           asp-route-guid="@poem.Guid.ToString()">
                            Перейти
                        </a>
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>

        <h2>История</h2>
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Статус</th>
                    <th>Название конкурса</th>
                    <th>Дата подачи</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var competition in Model.PastParticipants)
                {
                    foreach (var poem in competition.Poems)
            {
                <tr>
                    <td>
                        @poem.Title
                    </td>
                    <td>
                        @competition.Status
                    </td>
                    <td>
                        @competition.Competition.Titile
                    </td>
                    <td>
                        @competition.CreateDate.ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        <a asp-action="Details"
                           asp-controller="Poem"
                           asp-route-guid="@competition.Guid.ToString()">
                            Перейти
                        </a>
                    </td>
                </tr>
            }
                }
            </tbody>
        </table>

        @*<h3>Заявки</h3>
        <div class="list-group">
            @foreach (var p in Model.Participants)
            {
                <a asp-action="Edit"
                   asp-controller="Participant"
                   asp-route-guid="@p.Guid"
                   class="list-group-item list-group-item-action">@p.Competition.Titile</a>
            }
        </div>
        <h3>Участник</h3>
        <div class="list-group">
            @foreach (var competition in Model.ParticipatedCompetitions)
            {
                <a asp-action="Edit"
                   asp-controller="Participant"
                   asp-route-id="@competition.Guid"
                   class="list-group-item list-group-item-action">@competition.Titile</a>
            }
        </div>

        <h3>Произведения</h3>
        <a asp-controller="Poem" asp-action="Index"><p>Произведения</p></a>*@
    
    </div>
</div>