@model ProfileModel
@{
    ViewData["Title"] = $"{Model.Name ?? Model.Login}";
}

<div class="container">
    <div class="profile-grid">
        <div class="user-image">
            <img src="~/img/Image 3.png" alt="Изображение профиля" />
        </div>
        <div class="user-name">
            <h4>@(Model.Name ?? Model.Login)</h4>
            <p>@(Model.Status ?? "Статус не установлен")</p>
            @if (Model.Verificated)
            {
                <p>Аккаунт подтверждён</p>
            }
            else
            {
                <p>Аккаунт не верифицирован</p>
            }
        </div>
        <div class="user-bank">
            <h4>Счёт</h4>
        </div>
        <div class="user-rating">
            <h4>Рейтинг</h4>
            <p>@Model.Rating</p>
        </div>
        <div class="user-counter">
            <h4>Участий: </h4>
            <h4>Побед: </h4>
        </div>
        <div class="user-about">
            <h4>Об авторе</h4>
            <p>@(Model.About ?? "Информация о себе не указана")</p>
        </div>
    </div>

    <div class="user-requests">
        <h3>Заявки</h3>
        <div class="list-group">
            @foreach (var p in Model.Participants)
            {
                <a asp-action="Edit"
                   asp-controller="Participant"
                   asp-route-guid="@p.Guid"
                   class="list-group-item list-group-item-action">@p.Competition.Titile</a>
            }
        </div>
        <h3>Участник</h3>
        <div class="list-group">
            @foreach (var competition in Model.ParticipatedCompetitions)
            {
                <a asp-action="Edit"
                   asp-controller="Participant"
                   asp-route-id="@competition.Guid"
                   class="list-group-item list-group-item-action">@competition.Titile</a>
            }
        </div>
    </div>
</div>



@*<img src="~/img/Lena.png" alt="Изображение профиля" />
<div class="border-info">
    <span>@(Model.Status ?? "Статус не установлен") </span>
</div>
@(Model.Name ?? Model.Login)<br />
@if (Model.Verificated)
{
    <span>Аккаунт подтверждён</span>
}
else
{
    <span>Аккаунт не верифицирован</span>
} <br />
<span>Рейтинг: @Model.Rating</span>
<div class="card bg-light">
    <div class="card-body">
        @(Model.About ?? "Информация о себе не указана")
    </div>
</div>
<hr />
<span class="card-title">Заявки</span>
<div class="list-group">
    @foreach (var p in Model.Participants)
    {
    <a asp-action="Edit" 
       asp-controller="Participant" 
       asp-route-id="@p.Guid"
       class="list-group-item list-group-item-action">@p.Competition.Titile</a>
    }
</div>
<span class="card-title">Участник</span>
<div class="list-group">
    @foreach (var competition in Model.ParticipatedCompetitions)
    {
    <a asp-action="Edit" 
       asp-controller="Participant" 
       asp-route-id="@competition.Guid"
       class="list-group-item list-group-item-action">@competition.Titile</a>
    }
</div>
<div class="list-group"></div>*@