@model ProfileModel
@{
    ViewData["Title"] = $"{Model.Name ?? Model.Login}";
}

<div class="profile_grid container">
    <div class="left-side">
        <div class="avatar">
            <img src="~/img/Profile/unnamed.png" />
        </div>
        <div class="social-icons_grid">
            <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/vk.svg" /></a>
            <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/yandex.svg" /></a>
            <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/google.svg" /></a>
            <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/facebook.svg" /></a>
            <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/twitter.svg" /></a>
            <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/vk.svg" /></a>
        </div>
        <div class="rating _bg-gray">
            <h3 rating__title>Рейтинг</h3>
            <div class="nameValue_col2">
                <div>Автор:</div>
                <div>Значение</div>
            </div>
            <div class="nameValue_col2">
                <div>Жюри:</div>
                <div>Значение</div>
            </div>
            <div class="nameValue_col2">
                <div>Организатор:</div>
                <div>Значение</div>
            </div>
        </div>
        <div class="balance _bg-gray">
            <div class="nameValue_col2">
                <div>Баланс:</div>
                <div>Значение</div>
            </div>
            <button value="#" class="main-button _outline">
                Пополнить
            </button>
            <button value="#" class="main-button _fill-orange">
                Вывести
            </button>
        </div>
    </div>
    <div class="right-side">
        <div class="user-info _bg-gray">
            <div class="user-info__status">@(Model.Status ?? "Статус не установлен")</div>
            <div class="user-info__name">@(Model.Name ?? Model.Login)</div>
            <div class="user-info__membership">Членство не указано</div>
            <h3>О себе</h3>
            <p class="user-info__about">
                @(Model.About ?? "Информация о себе не указана")
            </p>
        </div>
        <div class="user-achievments _bg-gray">
            <h3>Достижения</h3>
            <div class="user-achievment">
                <span class="user-achievment__num">01.</span>
                <span class="user-achievment__title">Пока тут пусто</span>
            </div>
            <div class="user-achievment">
                <span class="user-achievment__num">02.</span>
                <span class="user-achievment__title">Пока тут пусто</span>
            </div>
            <div class="user-achievment">
                <span class="user-achievment__num">03.</span>
                <span class="user-achievment__title">Пока тут пусто</span>
            </div>
        </div>
        <div class="user-account-info _bg-gray">
            <h3>Личные данные</h3>
            <div class="nameValue_row2">
                <div>Имя Фамилия</div>
                <div>Не указано</div>
            </div>
            <div class="nameValue_row2">
                <div>Телефон</div>
                <div>Не указано</div>
            </div>
            <div class="nameValue_row2">
                <div>e-mail</div>
                <div>Не указано</div>
            </div>
            <div class="nameValue_row2">
                <div>Страна</div>
                <div>Не указано</div>
            </div>
            <div class="nameValue_row2">
                <div>Город</div>
                <div>Не указано</div>
            </div>
        </div>
    </div>   

    <div class="profile-poems">
        <h2>Заявки на участие в конкурсах</h2>
        <table>
            <thead>
                <tr>
                    <th>День</th>
                    <th>Название конкурса</th>
                    <th>Название произведения</th>
                    <th>Статус заявки</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var competition in Model.ActiveParticipants)
                {
                    foreach (var poem in competition.Poems)
                    {
                        <tr>
                            <td>
                                @poem.Title
                            </td>
                            <td>
                                @competition.Status
                            </td>
                            <td>
                                @competition.Competition.Title
                            </td>
                            <td>
                                @competition.CreateDate.ToString("dd.MM.yyyy")
                            </td>
                            <td>
                                <a asp-action="Details"
                                   asp-controller="Poem"
                                   asp-route-guid="@poem.Guid.ToString()">
                                    Перейти
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <h2>Портфолио</h2>
        @foreach (var competition in Model.PastParticipants)
        {
            foreach (var poem in competition.Poems)
            {
                        <div class="profile-poem">
                            <div class="profile-poem__avatar">
                            </div>
                            <a asp-action="Details"
                               asp-controller="Poem"
                               asp-route-guid="@competition.Guid.ToString()">
                                <div class="profile-poem__title">
                                    @poem.Title
                                </div>
                                <div class="profile-poem__competition-title">
                                    <span>Конкурс: </span>
                                    <span>@competition.Competition.Title</span>
                                </div>
                            </a>
                            <div class="profile-poem__social-icons">
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/vk.svg" /></a>
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/yandex.svg" /></a>
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/google.svg" /></a>
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/facebook.svg" /></a>
                                <a href="#"><img class="_flex-img img-svg" src="~/img/Social icons/Orange/twitter.svg" /></a>
                            </div>
                        </div>
                    }
                    }
            </div>

</div>


@*<div class="user-requests">

    <h2>Активное</h2>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Статус</th>
                <th>Название конкурса</th>
                <th>Дата подачи</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in Model.ActiveParticipants)
            {
                foreach (var poem in competition.Poems)
                {
                    <tr>
                        <td>
                            @poem.Title
                        </td>
                        <td>
                            @competition.Status
                        </td>
                        <td>
                            @competition.Competition.Title
                        </td>
                        <td>
                            @competition.CreateDate.ToString("dd.MM.yyyy")
                        </td>
                        <td>
                            <a asp-action="Details"
                               asp-controller="Poem"
                               asp-route-guid="@poem.Guid.ToString()">
                                Перейти
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <h2>История</h2>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Статус</th>
                <th>Название конкурса</th>
                <th>Дата подачи</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in Model.PastParticipants)
            {
                foreach (var poem in competition.Poems)
                {
                    <tr>
                        <td>
                            @poem.Title
                        </td>
                        <td>
                            @competition.Status
                        </td>
                        <td>
                            @competition.Competition.Title
                        </td>
                        <td>
                            @competition.CreateDate.ToString("dd.MM.yyyy")
                        </td>
                        <td>
                            <a asp-action="Details"
                               asp-controller="Poem"
                               asp-route-guid="@competition.Guid.ToString()">
                                Перейти
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>*@