@model System.Collections.Generic.IEnumerable<Rauthor.Models.Competition>
@using Microsoft.EntityFrameworkCore.Extensions

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><br />
    Открытые конкурсы:
</div>
<div>
    @foreach (var competition in Model)
    {
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@competition.Guid.ToString()</h4>
                <div class="card-text">
                    Начнётся <b>@competition.StartDate.ToString("dd.MM.yyyy")</b> <br>
                    Закончится <b>@competition.EndDate.ToString("dd.MM.yyyy")</b> <br>
                    Количество участников: <b>@competition.Participants.Count()</b> <br />
                </div>
            </div>
            <div class="card-footer">
                @if (competition.StartDate < DateTime.Now)
                {
                    @*<a class="card-link" asp-action="Become" asp-controller="Participant">Участвовать</a>*@
                    <a class="btn btn-primary" 
                       asp-action="Become" 
                       asp-controller="Participant" 
                       asp-route-id="@competition.Guid.ToString()">Участвовать</a>
                }
                else
                {
                    <a class="btn btn-primary" 
                       asp-action="Become" 
                       asp-controller="Participant" 
                       asp-route-id="@competition.Guid.ToString()">Записаться</a>
                    @*<a class="card-link disabled" asp-action="Become" asp-controller="Participant">Записаться</a>*@
                }
            </div>
        </div>
    }
</div>
