@model System.Collections.Generic.IEnumerable<Rauthor.Models.Competition>

@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div id="index">
        <div class="banner">
            <h2>Поэтические конкурсы каждый день!</h2>
            <p>Устал от конкурсов с результатами через год?</p>
            <p>Отправь заявку сегодня и завтра узнай результат!</p>
        </div>

        <div class="events-list">
            @foreach (var competition in Model)
            {
                <a href="Competition/Details/@competition.Guid.ToString()">
                    <div class="event">
                        <span class="timer"><img />@competition.EndDate.ToString("yyyy.MM.dd")</span>
                        <span class="event-categoty">Ежедневный конкурс</span>
                        <h4 class="event-title">@competition.Titile</h4>
                        <p class="event-description">@competition.Description</p>
                    </div>
                </a>
            }
            <span>Все ежедневные конкурсы</span>
        </div>
    </div>
</div>









@*<div class="container">
    <div class="home-block">
        <h1>Поэтические конкурсы каждый день</h1>
        <div class="home-events-list">
            @foreach (var competition in Model)
            {
                <a href="Competition/Details/@competition.Guid.ToString()">
                    <div class="home-event">
                        <h6>Конкурсы</h6>
                        <h2>@competition.Titile</h2>
                        <p class="home-event-date">@competition.EndDate</p>
                        <p class="home-event-description">@competition.Description</p>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="home-block">
        <h1>Новости</h1>
        <div class="home-events-list">
            @foreach (var competition in Model)
            {
                <a href="Competition/Details/@competition.Guid.ToString()">
                    <div class="home-event">
                        <h6>Новости сетературы</h6>
                        <h2>@competition.Titile</h2>
                        <p class="home-event-date">@competition.EndDate</p>
                        <p class="home-event-description">@competition.Description</p>
                    </div>
                </a>
            }
        </div>
    </div>
    <div class="home-block">
        <h1>Seterator рекомендует</h1>
        <div class="home-events-list">
            @foreach (var competition in Model)
            {
                <a href="Competition/Details/@competition.Guid.ToString()">
                    <div class="home-event">
                        <h6>Различная хуета</h6>
                        <h2>@competition.Titile</h2>
                        <p class="home-event-date">@competition.EndDate</p>
                        <p class="home-event-description">@competition.Description</p>
                    </div>
                </a>
            }
        </div>
    </div>
</div>*@
